<div class="box">
    <h1><%= @chat_room.title %></h1>


    <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
      <%= render @chat_room.messages %>
    </div>
</div>

  <%= form_for @message, url: '#' do |f| %>
    <div class="form-group">
      <div class="col-md-10">
        <%= f.text_area :body, class: 'form-control' %>
      </div>

    <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
  <% end %>
