        <header class="sidebar-header">
          <%= link_to root_path do %>
            <%= image_tag "logo.png" %>
          <% end %>
        </header>
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand">
                <a href="#home"><span class="fa fa-home solo">群組</span></a>
            </li>
            <li>
                <a href="#anch1">
                    <span class="fa fa-anchor solo">#&nbsp;共同討論區</span>
                </a>
            </li>
            <li>
                <%= link_to "# 行銷企劃", marketing_path %>
            </li>
            <li>
              <%= link_to "# 網站程式", programming_path %>
            </li>
            <li>
              <%= link_to chat_rooms_path do %>
                    <span class="fa fa-anchor solo">#&nbsp;找人才</span>
                    <span class="badge">8</span>
              <% end %>
            </li>

            <li class="sidebar-brand">
                <a href="#home"><span class="fa fa-home solo">成員</span></a>
            </li>
            <li>
                <a href="#anch1">
                    <span class="fa fa-anchor solo">○&nbsp;Engoo1</span>
                </a>
            </li>
            <li>
                <a href="#anch1">
                    <span class="fa fa-anchor solo">○&nbsp;Engoo2</span>
                </a>
            </li>
            <li>
                <a href="#anch1">
                    <span class="fa fa-anchor solo">○&nbsp;Engoo3</span>
                </a>
            </li>
            <li>
                <a href="#anch2">
                    <span class="fa fa-anchor solo">●&nbsp;黃鈺閔</span>
                </a>
            </li>
        </ul>

        <footer class="sidebar-footer">
          <div id="user-id"><%= image_tag "profile.png" %></div>
          <div id="user-info"><p>黃鈺閔</p><p>Online</p></div>
        </footer>
