<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="user-session">
        <% if current_user %>
          <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('編輯', edit_registration_path(:user)) %>
        <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
        <% end %>
      </div>
    </nav>
      <div id="sidebar-wrapper">
        <nav id="spy">
          <%= render 'layouts/sidebar' %>
        </nav>
      </div>
        <!-- Page content -->
      <div id="page-content-wrapper">
          <div class="page-content">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-8 cotent-box">
                        <%= yield %>
                      </div>
                      <div class="col-md-4 content-well ">
                        <%= render 'layouts/content-well' %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </body>
</html>
